* {
    box-sizing: border-box;
    
}

body {
    width: 700px;
    margin: 0 auto;
    background-color: #e2c6aa;
    padding: 40px;    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}


#header {
    padding:20px;      
}

h1 {
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-size: 50px;
  }

  p {
      padding: 10px;
  }

#container {

    background: #ffebcd;
    padding: 10px;
    margin: auto;
    width: 90%;
    border: 3px solid #3c8a3c;
   
}

/* .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  } */